.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 205, 205, 0.493);
  height: 600px;

}

.principal img {
  width: 30%;
  height: 60%;
  margin-right: 50px;

}

.text {
  width: 40%;
}

footer {
  margin-top: 100px;
}

.footer-separate {
  background-color: #59cfad;
  width: 100%;
  height: 40px;
}

.footer-text {
  text-align: center;
  color: #fff;
  background-color: rgb(66, 63, 63);
  height: 60px;
}

.footer-text p {
  margin: auto;
  padding-top: 20px;
}

.proyects {
  display: flex ;
  justify-content: center;
}

.proyect-item {
  width: 20%;
  margin-right: 20px;
}

.proyect-item a {
  color: #000;
}

@media screen and (max-width:560px){
  .principal  {
    flex-direction: column;
  }
  .principal img {
    width: 60%;
    height: 50%;
    margin-right: 0;
  }
  .text {
    width: 70%;
    text-align: center;
  }
  .proyects {
    flex-direction: column;
    align-items: center;
  }
  .proyect-item {
    width: 80%;
  }
}